.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import "tailwindcss";

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: #f9fafb;
  --text-color: #111827;
  --primary-color: #2563eb;
}

.dark {
  --bg-color: #0f172a;
  --text-color: #f3f4f6;
  --primary-color: #3b82f6;
}

.display-box {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100%;
  height: 100vh;
}
.nav-bar {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;

  width: 800px;
  padding: 20px;
  z-index: 10;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 0.0625rem solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.color-mode-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.table-logo {
  width: 50px;
  height: 50px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
